

@{

}

@model List<Exam.Models.User>
@if (Model!=null)
{
    @foreach (var item in Model)
    {
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
            </tr>

        </table>

    }
}
